.modal-body{
    width: auto;
    padding: 20px;
    height: 300px;
    color: black; 
  }

  .modal-body input{
    display: none;
  }

  .modal-body .preview{
    width: 100%;
    height: 100%;
  }

  .modal-body img{
    width: 100%;
    height: 100%;
    display: none;
  }

  .modal-footer{  
    justify-content: center;
    align-content: center;
  }
    